<h2 class="titulo">Administración de Tarjetas</h2>

<div class="top-bar">
    <input type="text" placeholder="Filtrar por ID Cliente" class="input-banco" />
    <a href="#" class="btn-primary">+ Nueva Tarjeta</a>
</div>

<table class="tabla">
    <thead>
        <tr>
            <th>Número Tarjeta</th>
            <th>ID Cliente</th>
            <th>Nombre</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>911111******1234</td>
            <td>123</td>
            <td>Juan Pérez</td>
            <td>
                <a href="#" class="btn-accion eliminar">Inactivar</a>
            </td>
        </tr>
    </tbody>
</table>