USE [core]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 18/3/2026 15:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[IdBitacora] [int] IDENTITY(1,1) NOT NULL,
	[Fecha_Bitacora] [datetime] NOT NULL,
	[Numero_Tarjeta] [varchar](20) NOT NULL,
	[Numero_Identificacion] [varchar](20) NOT NULL,
	[Codigo_Cajero] [varchar](20) NOT NULL,
	[IdTransaccion] [int] NOT NULL,
	[Monto_Transaccion] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cajero]    Script Date: 18/3/2026 15:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cajero](
	[IdCajero] [int] IDENTITY(1,1) NOT NULL,
	[Codigo_Cajero] [varchar](20) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[Monto] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCajero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo_Cajero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 18/3/2026 15:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Numero_Identificacion] [varchar](20) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Correo] [varchar](100) NULL,
	[Fecha_Nacimiento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Numero_Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarjeta]    Script Date: 18/3/2026 15:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarjeta](
	[IdTarjeta] [int] IDENTITY(1,1) NOT NULL,
	[Numero_Tarjeta] [varchar](20) NOT NULL,
	[Numero_Identificacion] [varchar](20) NOT NULL,
	[Monto_Total] [decimal](10, 2) NOT NULL,
	[Fecha_Vencimiento] [date] NOT NULL,
	[CVV] [varchar](5) NOT NULL,
	[Pin] [varchar](10) NOT NULL,
	[IDTipo_Tarjeta] [int] NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Numero_Tarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Tarjeta]    Script Date: 18/3/2026 15:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Tarjeta](
	[IDTipo_Tarjeta] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_Tarjeta] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTipo_Tarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaccion]    Script Date: 18/3/2026 15:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaccion](
	[IdTransaccion] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_Transaccion] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTransaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tarjeta] ADD  DEFAULT ('Activa') FOR [Estado]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [fk_bitacora_cajero] FOREIGN KEY([Codigo_Cajero])
REFERENCES [dbo].[Cajero] ([Codigo_Cajero])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [fk_bitacora_cajero]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [fk_bitacora_cliente] FOREIGN KEY([Numero_Identificacion])
REFERENCES [dbo].[Cliente] ([Numero_Identificacion])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [fk_bitacora_cliente]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [fk_bitacora_tarjeta] FOREIGN KEY([Numero_Tarjeta])
REFERENCES [dbo].[Tarjeta] ([Numero_Tarjeta])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [fk_bitacora_tarjeta]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [fk_bitacora_transaccion] FOREIGN KEY([IdTransaccion])
REFERENCES [dbo].[Transaccion] ([IdTransaccion])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [fk_bitacora_transaccion]
GO
ALTER TABLE [dbo].[Tarjeta]  WITH CHECK ADD  CONSTRAINT [fk_tarjeta_cliente] FOREIGN KEY([Numero_Identificacion])
REFERENCES [dbo].[Cliente] ([Numero_Identificacion])
GO
ALTER TABLE [dbo].[Tarjeta] CHECK CONSTRAINT [fk_tarjeta_cliente]
GO
ALTER TABLE [dbo].[Tarjeta]  WITH CHECK ADD  CONSTRAINT [fk_tarjeta_tipo] FOREIGN KEY([IDTipo_Tarjeta])
REFERENCES [dbo].[Tipo_Tarjeta] ([IDTipo_Tarjeta])
GO
ALTER TABLE [dbo].[Tarjeta] CHECK CONSTRAINT [fk_tarjeta_tipo]
GO
ALTER TABLE [dbo].[Cajero]  WITH CHECK ADD  CONSTRAINT [chk_estado_cajero] CHECK  (([Estado]='Fuera de Servicio' OR [Estado]='Mantenimiento' OR [Estado]='Activo'))
GO
ALTER TABLE [dbo].[Cajero] CHECK CONSTRAINT [chk_estado_cajero]
GO
ALTER TABLE [dbo].[Tarjeta]  WITH CHECK ADD  CONSTRAINT [chk_estado_tarjeta] CHECK  (([Estado]='Bloqueada' OR [Estado]='Inactiva' OR [Estado]='Activa'))
GO
ALTER TABLE [dbo].[Tarjeta] CHECK CONSTRAINT [chk_estado_tarjeta]
GO
ALTER TABLE [dbo].[Tipo_Tarjeta]  WITH CHECK ADD  CONSTRAINT [chk_tipo_tarjeta] CHECK  (([Tipo_Tarjeta]='Debito' OR [Tipo_Tarjeta]='Credito'))
GO
ALTER TABLE [dbo].[Tipo_Tarjeta] CHECK CONSTRAINT [chk_tipo_tarjeta]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [chk_tipo_transaccion] CHECK  (([Tipo_Transaccion]='Retiro' OR [Tipo_Transaccion]='Consulta' OR [Tipo_Transaccion]='Cambio_Pin'))
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [chk_tipo_transaccion]
GO
